:root {
    --clr-blue--: #587DFF;
    --clr-gunmetal--: #253347;
    --clr-dark-electric-blue--: #5E6E85;
    --clr-borders--: #D8E2E7;
    --clr-pure-white--: #FFFFFF;

    --head-xl-size--: 64px;
    --head-xl-line-height--: 1.1;
    --head-l-size--: 48px;
    --head-l-line-height--: 1.1;
    --head-m-size--: 24px;
    --head-m-line-height--: 1.1;
    --head-s-size--: 20px;
    --head-s-line-height--: 1.1;

    --body-m-size--: 16px;
    --body-m-line-height--: 1.5;
    --body-s-size--: 14px;
    --body-s-line-height--: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    /* outline: 1px solid royalblue; */
}

body {
    display: flex;
    justify-content: center;
}

section {
    max-width: 1160px;
    width: 80.55%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

img {
    display: block;
}

h1 {
    font-size: var(--head-xl-size--);
    line-height: var(--head-xl-line-height--);
    font-weight: 600;
    color: var(--clr-gunmetal--);
}

h2 {
    font-size: var(--head-l-size--);
    line-height: var(--head-l-line-height--);
    font-weight: 600;
    color: var(--clr-gunmetal--);
}

h3 {
    font-size: var(--head-m-size--);
    line-height: var(--head-m-line-height--);
    font-weight: 600;
    color: var(--clr-gunmetal--);
}

h4 {
    font-size: var(--head-s-size--);
    line-height: var(--head-s-line-height--);
    font-weight: 600;
    color: var(--clr-gunmetal--);
}

p {
    font-size: var(--body-m-size--);
    line-height: var(--body-m-line-height--);
    color: var(--clr-dark-electric-blue--);
}

.logo img {
    width: 64px;
    margin-top: 72px;
}

.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.bmi-intro {
    max-width: 512px;
    width: 43.74%;
}

.bmi-intro h1 {
    margin-bottom: 32px;
}

.bmi-input-box {
    border-radius: 16px;
    background-color: var(--clr-pure-white--);
    margin-top: 28px;
    box-shadow: 12px 12px 36px 12px rgba(52, 95, 246, 0.1);
    width: 48.19%;
}

.bmi-input {
    display: flex;
    flex-direction: column;
    max-width: 564px;
    width: 100%;
    gap: 32px;
    padding: 32px;
}

.result-box {
    display: none;
}

.result {
    background-color: #587DFF;
    border-radius: 16px 100px 100px 16px;
    color: var(--clr-pure-white--);
    display: flex;
    gap: 6.4%;
    width: 100%;
}

.welcome {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #587DFF;
    border-radius: 16px 100px 100px 16px;
    color: var(--clr-pure-white--);
    padding: 32px;
    height: 169.39px;
    justify-content: center;
}

.welcome h3,
.welcome p {
    color: var(--clr-pure-white--);
}

.result-left {
    padding: 32px 0 32px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result-left h1 {
    color: var(--clr-pure-white--);
    margin-top: 8px;
}

.result-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 32px;
}

.result-left p {
    color: var(--clr-pure-white--);
    font-weight: 600;
    white-space: nowrap;
}

.result-right p {
    font-size: var(--body-s-size--);
    line-height: var(--body-s-line-height--);
    color: var(--clr-pure-white--);
}

.height-weight-input {
    display: flex;
    gap: 24px;
}

.height-weight-input p {
    font-size: var(--body-s-size--);
    line-height: var(--body-s-line-height--);
}

.input-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-pure-white--);
    border: 1px solid var(--clr-borders--);
    border-radius: 12px;
    height: 64px;
    width: 100%;
    margin-top: 6px;
}

label {
    font-size: var(--body-s-size--);
}

.weight-input-full-length {
    width: 100%;
}

.input-field input {
    border: none;
    outline: none;
    height: 48px;
    border-radius: 12px;
    padding: 0 24px;
    width: 100%;
    font-size: var(--head-m-size--);
    line-height: var(--head-m-line-height--);
    font-weight: 600;
}

.input-field h3 {
    color: var(--clr-blue--);
    margin: 0;
    padding-right: 24px;
}

.radio {
    display: flex;
    flex-direction: row;
}

.container {
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    height: 32px;
    max-width: 238px;
    width: 100%;
    display: flex;
    align-items: center;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    background-color: var(--clr-pure-white--);
    border-radius: 50%;
    border: 1px solid var(--clr-borders--);
}

.container:hover .checkmark {
    background-color: var(--clr-pure-white--);
    border-color: var(--clr-blue--);
}

.container input:checked~.checkmark {
    background-color: rgba(52, 95, 246, 0.3);
    border-color: var(--clr-blue--);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 7px;
    left: 7px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--clr-blue--);
}


.container p {
    font-weight: 600;
    color: var(--clr-gunmetal--);
}

.radio {
    display: flex;
    width: 100%;
    gap: 24px;
}

.bg {
    background-color: rgba(231, 246, 254, 0.5);
    border-radius: 16px;
    max-width: 978px;
    width: 100%;
    height: 738px;
    position: absolute;
    z-index: -10;
    top: 0px;
    left: 0px;
}

.section-2 img {
    width: 564px;
}

.section-2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 172px;
    gap: 32px;
}

.bmi-meaning {
    max-width: 490px;
}

.bmi-meaning h2 {
    margin-bottom: 32px;
}

.section-3 {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: rgba(231, 246, 254, 0.3);
    padding: 48px;
    border-radius: 16px;
}

.healthy-eating-section,
.regular-exercise-section,
.adequate-sleep-section {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 45px;
    height: 90%;
}

.healthy-eating-text,
.regular-exercise-text,
.adequate-sleep-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.section-4 {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 32px;
}

.bmi-limitations {
    max-width: 564px;
}

.bmi-limitations h2 {
    margin-bottom: 32px;
}

.gender-box {
    max-width: 365px;
    min-width: 365px;
    background-color: var(--clr-pure-white--);
    border-radius: 16px;
    box-shadow: 12px 12px 36px 12px rgba(52, 95, 246, 0.1);
}

.age-box,
.muscle-box,
.pregnancy-box,
.race-box {
    max-width: 365px;
    min-width: 365px;
    background-color: var(--clr-pure-white--);
    border-radius: 16px;
    box-shadow: 12px 12px 36px 12px rgba(52, 95, 246, 0.1);
    margin-bottom: 32px;
}

.gender-box {
    margin-right: 8.62%;
}

.gender-content,
.age-content,
.muscle-content,
.pregnancy-content,
.race-content {
    padding: 32px;
}

.gender-head,
.age-head,
.muscle-head,
.pregnancy-head,
.race-head {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 16px;
}

.section-5 {
    display: flex;
    gap: 32px;
    justify-content: flex-end;
}

.section-6 {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-bottom: 120px;
}

#hidden-p {
    visibility: hidden;
}

#imperial {
    display: none;
    flex-direction: column;
    gap: 24px;
}

.imperial {
    display: flex;
}

.last-section-tablet {
    display: none;
}

@media screen and (width <=1140px) {
    .section-2 img {
        width: 500px;
    }
}

@media screen and (width <=1040px) {
    .section-2 img {
        width: 450px;
    }

    .result {
        border-radius: 16px;
    }

    .result-left {
        padding: 24px 0 24px 24px;
    }

    .result-right {
        padding-right: 24px;
    }

    .gender-box {
        margin-right: 0;
    }

    .input-field h3 {
        padding-right: 12px;
    }

    .input-field input {
        padding: 0 12px;
    }
}

@media screen and (width <=987px) {
    .welcome {
        width: 100%;
    }

    .result {
        border-radius: 16px 100px 100px 16px;
    }

    .result-left {
        padding: 32px 0 32px 32px;
    }

    .result-right {
        padding-right: 32px;
    }

    .bg {
        height: 640px;
    }

    .input-field input {
        padding: 0 24px;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: var(--head-m-size--);
    }

    h4 {
        font-size: var(--head-s-size--);
    }

    p {
        font-size: var(--body-m-size--);
    }

    .section-2 {
        position: relative;
    }

    .bmi-meaning {
        margin-left: auto;
        width: 430px;
    }

    .section-2 img {
        position: absolute;
        left: -100px;
    }

    .gender-box,
    .age-box,
    .muscle-box,
    .pregnancy-box,
    .race-box {
        display: none;
    }

    .section-4 {
        justify-content: center;
        text-align: center;
        margin-bottom: 56px;
    }

    .bmi-limitations {
        padding: 0;
    }

    .section-1 {
        flex-direction: column;
    }

    .bmi-intro,
    .bmi-input-box {
        width: 100%;
        max-width: none;
    }

    .bmi-intro {
        text-align: center;
    }

    .bmi-intro h1 {
        margin-bottom: 24px;
        padding: 0;
    }

    .bmi-intro p {
        padding: 0;
    }

    .section-1 {
        margin: 40px 0;
        gap: 0px;
    }

    .bmi-input {
        max-width: none;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .logo img {
        width: 36px;
        margin-top: 32px;
    }

    .container {
        max-width: none;
    }

    .input-field {
        max-width: none;
    }

    .section-2 {
        margin-top: 130px;
        align-items: flex-end;
    }

    .section-3 {
        flex-direction: column;
        margin-top: 130px;
        margin-bottom: 96px;
    }

    .section-5,
    .section-6 {
        display: none;
    }

    .healthy-eating-section,
    .regular-exercise-section,
    .adequate-sleep-section {
        flex-direction: row;
        gap: 40px;
    }

    .bmi-limitations {
        max-width: none;
    }

    .last-section-tablet {
        display: flex;
        flex-wrap: wrap;
        row-gap: 24px;
        column-gap: 16px;
        justify-content: center;
    }

    .gender-box-tablet,
    .age-box-tablet,
    .muscle-box-tablet,
    .pregnancy-box-tablet,
    .race-box-tablet {
        max-width: 48%;
        background-color: var(--clr-pure-white--);
        border-radius: 16px;
        box-shadow: 12px 12px 36px 12px rgba(52, 95, 246, 0.1);
    }

    .gender-content-tablet,
    .age-content-tablet,
    .muscle-content-tablet,
    .pregnancy-content-tablet,
    .race-content-tablet {
        padding: 32px;
    }

    .gender-head-tablet,
    .age-head-tablet,
    .muscle-head-tablet,
    .pregnancy-head-tablet,
    .race-head-tablet {
        display: flex;
        gap: 16px;
        align-items: center;
        margin-bottom: 16px;
    }

    .healthy-eating-section,
    .regular-exercise-section,
    .adequate-sleep-section {
        align-items: center;
    }

    .last-section-tablet {
        margin-bottom: 96px;
    }

    section {
        width: 90%;
    }
}

@media screen and (width <=900px) {
    .bmi-meaning {
        width: 400px;
    }

    .section-2 img {
        left: -130px;
    }
}

@media screen and (width <=820px) {
    .section-2 img {
        left: -170px;
    }
}


@media screen and (width <=772px) {
    .section-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 72px;
    }

    .bmi-meaning {
        margin: 0;
        max-width: 694.8px;
        width: 100%;
    }

    .section-2 img {
        position: static;
        width: 100%;
    }

    .last-section-tablet {
        flex-direction: column;
    }

    .section-2 {
        position: static;
    }

    .gender-box-tablet,
    .age-box-tablet,
    .muscle-box-tablet,
    .pregnancy-box-tablet,
    .race-box-tablet {
        max-width: 100%;
    }

    .healthy-eating-section,
    .regular-exercise-section,
    .adequate-sleep-section {
        flex-direction: column;
        gap: 32px;
    }

    .section-1 {
        margin: 24px 0 72px 0;
    }

    .section-2 {
        margin-top: 0;
    }

    .section-3 {
        gap: 40px;
    }

    .section-3 {
        margin: 72px 0;
    }

    .healthy-eating-section,
    .regular-exercise-section,
    .adequate-sleep-section {
        align-items: flex-start;
    }
}

@media screen and (width <=500px) {
    .height-weight-input {
        flex-direction: column;
    }

    #hidden-p {
        display: none;
    }

    .welcome,
    .result {
        border-radius: 16px;
    }
}

@media screen and (width <=410px) {
    .result-left {
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .result {
        border-radius: 16px;
        gap: 0;
    }

    .result-left {
        padding: 16px;
    }

    .result-right {
        padding: 16px 16px 16px 0;
    }
}

@media screen and (width <=368px) {
    .result {
        flex-direction: column;
    }
    
    .result-left {
        padding: 16px;
    }

    .result-right {
        padding: 0 16px 16px 16px;
    }

    .radio {
        flex-direction: column;
    }
}