:root {
    --clr-blue--: #345FF6;
    --clr-gunmetal--: #253347;
    --clr-dark-electric-blue--: #5E6E85;
    --clr-borders--: #D8E2E7;
    --clr-pure-white--: #FFFFFF;

    --head-xl-size--: 64px;
    --head-xl-line-height--: 1.1;
    --head-l-size--: 48px;
    --head-l-line-height--: 1.1;
    --head-m-size--: 24px;
    --head-m-line-height--: 1.1;
    --head-s-size--: 20px;
    --head-s-line-height--: 1.1;

    --body-m-size--: 16px;
    --body-m-line-height--: 1.5;
    --body-s-size--: 14px;
    --body-s-line-height--: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    /* outline: 1px solid maroon; */
}

body {
    display: flex;
    justify-content: center;
}

sections {
    width: 1160px;
}

img {
    display: block;
}

#background {
    position: absolute;
    z-index: -10;
    top: 0;
    left: 24px;
}

h1 {
    font-size: var(--head-xl-size--);
    line-height: var(--head-xl-line-height--);
    font-weight: 600;
    color: var(--clr-gunmetal--);
}

h2 {
    font-size: var(--head-l-size--);
    line-height: var(--head-l-line-height--);
    font-weight: 600;
    color: var(--clr-gunmetal--);
}

h3 {
    font-size: var(--head-m-size--);
    line-height: var(--head-m-line-height--);
    font-weight: 600;
    color: var(--clr-gunmetal--);
}

h4 {
    font-size: var(--head-s-size--);
    line-height: var(--head-s-line-height--);
    font-weight: 600;
    color: var(--clr-gunmetal--);
}

p {
    font-size: var(--body-m-size--);
    line-height: var(--body-m-line-height--);
    color: var(--clr-dark-electric-blue--);
}

.logo img {
    width: 64px;
    margin-top: 72px;
}

.section-1 {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.bmi-intro {
    width: 512px;
}

.bmi-intro h1 {
    margin-bottom: 32px;
}

.bmi-input-box {
    border-radius: 16px;
    background-color: var(--clr-pure-white--);
    margin-top: 28px;
    box-shadow: 12px 12px 36px 12px rgba(52, 95, 246, 0.1);
}

.bmi-input {
    padding: 32px;
    width: 564px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.result {
    background-color: #345FF6;
    border-radius: 10px 100px 100px 10px;
    color: var(--clr-pure-white--);
    display: flex;
    gap: 98px;
    display: none;
}

.result-left {
    padding: 32px 0 32px 32px;
}

.result-left h1 {
    color: var(--clr-pure-white--);
    margin-top: 8px;
}

.result-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 32px;
}

.result-left p {
    color: var(--clr-pure-white--);
    font-weight: 600;
    white-space: nowrap;
}

.result-right p {
    font-size: var(--body-s-size--);
    line-height: var(--body-s-line-height--);
    color: var(--clr-pure-white--);
}

.height-weight-input {
    display: flex;
    gap: 24px;
}

.height-weight-input p {
    font-size: var(--body-s-size--);
    line-height: var(--body-s-line-height--);
}

.input-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-pure-white--);
    border: 1px solid var(--clr-borders--);
    border-radius: 12px;
    height: 64px;
    width: 238px;
    margin-top: 6px;
}

label {
    font-size: var(--body-s-size--);
}

.input-field input {
    border: none;
    outline: none;
    height: 48px;
    border-radius: 12px;
    padding: 0 24px;
    width: 100%;
    font-size: var(--head-m-size--);
    line-height: var(--head-m-line-height--);
    font-weight: 600;
}

.input-field h3 {
    color: var(--clr-blue--);
    margin: 0;
    padding-right: 24px;
}

.radio {
    display: flex;
    flex-direction: row;
}

.container {
    position: relative;
    padding-left: 50px;
    cursor: pointer;
    height: 32px;
    width: 238px;
    display: flex;
    align-items: center;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    background-color: var(--clr-pure-white--);
    border-radius: 50%;
    border: 1px solid var(--clr-borders--);
}

.container:hover .checkmark {
    background-color: var(--clr-pure-white--);
    border-color: var(--clr-blue--);
}

.container input:checked~.checkmark {
    background-color: rgba(52, 95, 246, 0.3);
    border-color: var(--clr-blue--);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 7px;
    left: 7px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--clr-blue--);
}


.container p {
    font-weight: 600;
    color: var(--clr-gunmetal--);
}

.radio {
    display: flex;
    width: 100%;
    gap: 24px;
}

.person-image img {
    width: 564px;
    margin-top: 150px;
}

.section-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bmi-meaning {
    width: 490px;
    margin-top: 300px;
}

.bmi-meaning h2 {
    margin-bottom: 32px;
}

.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 96px;
    margin-bottom: 120px;
    position: relative;
    height: 402px;
}

.healthy-eating-section,
.regular-exercise-section,
.adequate-sleep-section {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.healthy-eating-text,
.regular-exercise-text,
.adequate-sleep-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#background2 {
    position: absolute;
}

.section-4 {
    display: flex;
    gap: 132px;
}

.bmi-limitations {
    width: 564px;
}

.gender-box,
.age-box,
.muscle-box,
.pregnancy-box,
.race-box {
    width: 365px;
    background-color: var(--clr-pure-white--);
    border-radius: 16px;
    box-shadow: 12px 12px 36px 12px rgba(52, 95, 246, 0.1);
    margin-bottom: 32px;
}

.gender-content,
.age-content,
.muscle-content,
.pregnancy-content,
.race-content {
    padding: 32px;
}

.gender-head,
.age-head,
.muscle-head,
.pregnancy-head,
.race-head {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 16px;
}

.section-5 {
    display: flex;
    gap: 32px;
    justify-content: flex-end;
}

.section-6 {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-bottom: 120px;
}

#hidden-p {
    visibility: hidden;
}

#imperial {
    display: none;
    flex-direction: column;
    gap: 24px;
}

.imperial {
    display: flex;
}

#input-field-full-Length {
    width: 500px;
}